/*** page ***/
html {
	background: #F8F4F0;
	overflow-y: scroll;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-touch-callout: none;
	position:relative;
	color: #444;
	background: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.75;
	padding: 2em;
	margin: 0 auto;
	max-width: 50em;
}

@media screen {
	html { background-image: linear-gradient(270deg, #F4F0EC 0%, #F8F4F0 100%); }
	body { box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25); }
}

@media (max-width:600px) {
	body { padding:1em; }
}

@media (max-width:420px) {
	body { font-size:2.8vmin; }
}

/*** navigation ***/
@media print { div#navigation { display:none; } }
div#navigation { position:absolute; left:1em; top:0.5em; }
div#navigation a { text-decoration:none; display:inline-block; width:2em; height:1.875em; padding-top:0.125em; text-align:center; border-radius:50%; }

/*** controls ***/
div#controls {
	position:absolute; right:2em; top:1.5em;
	background:#F0F0F8; border-radius:1em; padding:0.25em 0.25em;
}
div#controls > .control:not(:last-child) { border-right:1px solid #CCC; }
div#controls > .control {
	display:inline-block; height:1.75em; width:1em;
	padding:0 0.75em; margin:0;
	font-size:150%; text-align:center;
	background:inherit; color:inherit;
	border:none; not-border-bottom:2px solid #999;
}
div#controls > label { cursor:pointer; }
div#controls > button { display:none; }
div#controls > a { text-decoration:none; }

/*** text ***/
span.bold { font-weight:bold; }
span.taper { display:inline-block; font-size:80%; }
span.taper:first-letter { font-size:125%; }
input::placeholder { color:#BBB; }

/*** toggle ***/
input.toggle { display:none; }
input.toggle:not(:checked) + div.toggled { display:none; }
input.toggle:not(:checked) + label + div.toggled { display:none; }

/*** filter ***/
input.filter { display:none; }
input.filter + label { text-transform:capitalize; }
input.filter:not(:checked) + label { opacity:0.5; }
label.filter, label.trivia { cursor:pointer; -webkit-tap-highlight-color:transparent; }
label.trivia.disable > span { opacity:0.5; }
label.trivia.exclude { position:relative; }
label.trivia.exclude:after { content:""; position:absolute; left:-0.125em; right:-0.125em; bottom:30%; border-top:solid #C00 1.5px; }
input.trivia { display:none; }
input.trivia:not(:checked) + input.trivia + .trivia + label.trivia + label.trivia { display:none; }
input.trivia:not(:checked) + label.trivia { display:none; }

/*** library filter ***/
input#library-filter { font-size:100%; max-width:75%; }
span#library-filter-count { display:inline-block; opacity:0.5; font-size:60%; min-width:3em; margin-right:1em; }

/*** library table ***/
table#library-table { min-width:98%; padding:0; margin:1em 0 8em 0; border-spacing:0; border-collapse:collapse; }
tr.library { border-bottom:0.25px solid #DDD; }
td.library, th.library { vertical-align:baseline; padding:0.125em 1em 0.125em 0; }
td.library:last-of-type { padding-right:0; }
a.item-name { display:block; cursor:pointer; }

label.toggle.close { display:none; }
@media screen {
	label.toggle.close { display:inline-block; position:absolute; border-radius:50%; border:0.25em solid #EEE; bottom:0.375em; right:0.375em; }
	label.toggle.close { font-size:150%; text-align:center; line-height:1.125em; width:1.125em; height:1.125em; }
	input.toggle:checked + label.toggle.close > a.library:after { content:" ▲"; opacity:0.25; }
}

/*** library table details ***/
div.outer.details { position:relative; white-space:normal; width:0; }
div.inner.details { position:relative; width:40em; max-width:70vw; line-height:1.5; padding:0 1em; margin:0.5em 0; border:1px solid #EEE; }

/*** library table entries ***/
span.entries.indent + span.entries { margin-left:1em }
span.entries.italic, a.entries.italic { font-style:oblique; }
span.entries.bold { font-weight:bold; }
span.prominent { font-weight:bold; }
span.prominent::after { content:"."; }
table.entries { border-spacing:0; border-collapse:collapse; }
table.entries td { vertical-align:top; }
table.entries td:not(:last-of-type) { padding-right:1em; }
table.entries td:first-of-type { min-width:4em; white-space:nowrap; }
a.entries, a.entries:visited { text-decoration-color:#CCC; color:inherit; }
p.source { font-style:oblique; color:#666; font-size:80%; }
p.source > span.page-number:not(:empty)::before { content:" page "; }
dl.entries > dt { font-weight:bold; }

dl.compact > dt, dl.compact > dd { }

@media screen {
	table.entries tr.rolled { background:#DEF; }
	span.entries.action { text-decoration:underline; text-decoration-color:#CCC; }
	span.rolled { color:#666; font-weight:normal; font-style:normal; }
	span.rolled-success { color:#696; text-decoration-color:inherit; }
	span.rolled-failure { color:#966; text-decoration-color:inherit; }
}

/*** table cells ***/
td.center, th.center { text-align:center; }
td.natural, th.natural { text-align:left; }
td.numeric, th.numeric { text-align:right; }

/*** sortable table ***/
tr.filtered { display:none; }
th.sortable.unsorted, th.sortable.sorted-descending { cursor:s-resize; }
th.sortable.sorted-ascending { cursor:n-resize; }
th.sortable.sorted-descending { text-decoration:overline; }
th.sortable.sorted-ascending { text-decoration:underline; }

/*** utility ***/
.hidden { display:none; }
.action { cursor:pointer; }

.roll, .action, .toggle, .option {
	-webkit-tap-highlight-color:transparent;
}

.nose, .roll, .reroll, .action, .toggle, .option {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}

/*** printing ***/
@media print {
	div.filtering, div#controls { display:none; }
	span.rolled { display:none; }
	p.source { page-break-after:always; }
}
