html {
    background: #EEE;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #FFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

label.option, label.action {
    margin-right:0.5em;
    line-height:3.25;
    padding:0.75em;
    border-radius:0.5em;
    border:2px solid #CCC;
    white-space:nowrap;
    cursor:pointer;
}

.label-separator {
    margin-right:0.5em;
    white-space:nowrap;
}

input.option:checked + label.option { background-color:#DDD; }
label.option:active, label.option:hover { background-color:#EEE; }
input.option[type="radio"], input.option[type="checkbox"] { display:none; }
input.option[type="checkbox"]:disabled + label.option { border-color:#DDD; color:#AAA; }
input.option[type="checkbox"]:checked:disabled + label.option { background-color:#EEE; color:#888; }

input.action[type="button"] { display:none; }
label.action:active { background-color:#EEE; }

label.option.any { border-color:#AAA; }
label.option.strength { border-color:#8CC; }
label.option.dexterity { border-color:#8C8; }
label.option.constitution { border-color:#C88; }
label.option.intelligence { border-color:#8AC; }
label.option.wisdom { border-color:#AC8; }
label.option.charisma { border-color:#CC8; }

/*
label.any { background-color:#EEE; }
label.strength { background-color:#EFF; }
label.dexterity { background-color:#EFE; }
label.constitution { background-color:#FEE; }
label.intelligence { background-color:#DEF; }
label.wisdom { background-color:#EDF; }
label.charisma { background-color:#FFE; }
*/

table.abilities { padding:0; margin:0; border-spacing:0; border-collapse:collapse; }
tr.abilities > th { font-size:60%; text-align:right; }
table.abilities tr { border:solid; border-width:0 0 0.5px 0; }
table.abilities tr:first-child, table.abilities tr:last-child { border:none; border-width:0; }
tr.abilities > td { width:3em; text-align:right; }
tr.abilities > td.name.spellcasting { font-style:oblique; }
tr.abilities > td.name.proficient { font-weight:bold; }
tr.abilities > td.number { font-size:125%; }
tr.abilities > td.score.increase::before { content:"✚ "; }
tr.abilities > td.score.pending::before { content:"✚ "; color:#48C; }
td.score.increase, td.score.pending { cursor:pointer; }

table.attacks { padding:0; margin:0; border-spacing:0; }
table.attacks tr.attacks:not(.equipment) { opacity:0.5; }
td.name, td.range { white-space:nowrap; }
tr.attacks > th { font-size:60%; text-align:left; }
tr.attacks > td { padding-right:1em; }
tr.attacks.melee > td.range { visibility:hidden; }
tr.attacks.heavy > td.name { font-weight:bold; }
tr.attacks.light > td.name { font-style:oblique; }
tr.attacks.twohanded > td.name::after { content:" ²"/*" ²👐"*/; }
tr.attacks.disadvantage > td.name { color:red; }
tr.attacks.disadvantage > td.hit { color:red; }
tr.attacks > td.type { font-size:80%; }
td.attacks.hit, td.attacks.damage, td.attacks.rate { text-align:right; }
tr.attacks.reckless > td.hit { color:#F60; }
tr.attacks.reckless > td.name, tr.attacks.reckless > td.damage { color:#093; }
input#toggle-all-attacks:not(:checked) + label + p#attacks tr.attacks:not(.equipment) { display:none; }
input#toggle-all-attacks:not(:checked) + label + p#attacks td.rate { display:none; }
input#toggle-all-attacks { visibility:hidden; }
input#toggle-all-attacks + label { position:relative; top:0.2em; }
input#toggle-all-attacks:checked + label:after { content:"▼"; color:#CCC; }
input#toggle-all-attacks:not(:checked) + label:after { content:"▶"; color:#CCC; }


table.features { padding:0; margin:0; border-spacing:0; }
tr.features > td { padding-right:0.5em; vertical-align:top; }
tr.features.spell > td.name { color:#447; }
tr.features.action > td.name { color:#000; }
tr.features.reaction > td.name { font-style:oblique; }
tr.features.bonusaction > td.name { font-weight:bold; }
td.level { text-align:right; }
tr.features > td.summary { font-size:60%; vertical-align:middle; }

br.tall + * { margin-top:1.5em; }
.tiny { font-size:60%; }
.small { font-size:80%; }
.hidden { display:none; }
.placeholder { color:#CCC; }
.toggle { cursor:pointer; }
.roll { cursor:move; }
.roll.reorder { font-weight:bolder; }
.roll.reorder::before { content:"↑↓" }
.bullet { color:#66C }
.characteristic { display:inline-block; cursor:pointer; margin-top:0.5em; }
.characteristic:first-child { margin-top:0; }
.caption { color:#888; font-size:60%; }
.caption + p { margin-top:0; }

.advances { display:inline-block; text-align:center; cursor:pointer; }
.advances.tall { line-height:2.0; min-width:7em; }
.advances.narrow { line-height:1.5; min-width:4em; }
.listable { display:inline-block; min-width:6em; text-align:center; line-height:1.5; }
span.advances { position:relative; padding:0 1em; }
span.advances::before { content:"◀︎︎"; opacity:0.125; position:absolute; left:0; top:0; }
span.advances::after { content:"▶"; opacity:0.125; position:absolute; right:0; top:0; }

.nose, .toggle, .roll, .advances, .action, .option, .characteristic {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}
