html {
    background: #EEE;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
	-webkit-touch-callout:none;
    background: #FFF;
    box-shadow: 0 0 0.125em rgba(0, 0, 0, 0.06);
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

label.option, label.action {
    margin-right:0.5em;
    line-height:3.25;
    padding:0.75em;
    border-radius:0.5em;
    border:0.125em solid #CCC;
    white-space:nowrap;
    cursor:pointer;
}

.label-separator {
    margin-right:0.5em;
    white-space:nowrap;
}

#header { position:relative; }
#header #pagename { position:relative; }
#header #toolbar { position:absolute; top:0; right:0; }
#toolbar > .toolbar-button { margin-right:0.5em; cursor:pointer; }
#toolbar > a { text-decoration:none; color:#000; }
#toolbar > .unmodified + label { color:#999; }
#character-name { max-width:85%; }
#character-notes { max-width:98%; font-size:125%; }

p.name > span, p.name > input { font-size:150%; }
p.name > input { border:2px solid #EEE; padding:0.5em; font-family:cursive; }

input.option:checked + label.option { background-color:#DDD; }
label.option:active, label.option:hover { background-color:#EEE; }
input.option[type="radio"], input.option[type="checkbox"] { display:none; }
input.option[type="checkbox"]:disabled + label.option { border-color:#DDD; color:#AAA; }
input.option[type="checkbox"]:checked:disabled + label.option { background-color:#EEE; color:#888; }

input.action[type="button"] { display:none; }
label.action:active { background-color:#EEE; }

label.option.any { border-color:#AAA; }
label.option.strength { border-color:#8CC; }
label.option.dexterity { border-color:#8C8; }
label.option.constitution { border-color:#C88; }
label.option.intelligence { border-color:#8AC; }
label.option.wisdom { border-color:#AC8; }
label.option.charisma { border-color:#CC8; }

.menu-container { position:relative; }
.menu-content { position:absolute; z-index:1; background-color:#FFF; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); }
table.menu { margin:0 auto; border-spacing:0; border-collapse:collapse; }
table.menu tr:not(:last-of-type) { border-bottom:1px solid #EEE; }
input.menu { display:none; }
input.menu + label.menu { position:relative; }
input.menu:checked + label.menu { text-shadow:0px 0px 1px #666; }
input.menu:checked + label.menu::before { content:"▶︎"; position:absolute; left:-1.25em; top:1px; }
td.menu:first-of-type { padding-left:1.5em; }
td.menu:last-of-type { padding-right:1.5em; }
td.menu:not(:first-of-type) { font-size:80%; padding-left:1em; }
td.menu > label { display:block; cursor:pointer; }

.horizontal-content { position:relative; display:flex; flex-wrap:wrap; align-items:flex-start; justify-content:flex-start; }
td.tracking { position:relative; text-align:right; padding-right:1em; white-space:nowrap; }
td.slot-tracking { min-width:2em; text-align:center; vertical-align:top; }
table.slot-tracking { margin-left:1em; padding-left:1em; border-left:1px solid black; }
tr.restore-short-rest-row > td.name { font-style:oblique; }
tr.restore-every-turn-row > td.name { font-weight:bold; }
tr.restore-initiative-row > td.name::after { content:" ⚔"; }
div#tracking, div#tracking-slots { margin-top:1em; }
div#tracking-combat { margin-right:2em; }
div#tracking-combat > span { margin:0.5em 1em 0.5em 0; }
div#tracking-actions { margin-right:1em; }
div#tracking-actions > span > label > span { margin:0.5em 0; display:inline-block; min-width:5em; text-align:center; }
input.tracking-number-input { font-size:200%; text-align:right; min-width:3em; }
output.tracking-number-output { display:inline-block; min-width:2em; }
span.tracking-number-wrapper { display:inline-block; }
span.tracking-action-wrapper > label { width:100%; }
span.tracking-caption { display:block; font-size:50%; text-align:center; }
span.tracking-number-handler.advances::before, span.tracking-number-handler.advances::after { top:0.5em; }
input.tracking-mark { display:none; }
input.tracking-mark + label.tracking-mark { position:relative; display:inline-block; top:0.2em; border-radius:50%; width:1em; height:1em; border:1px solid black; }
span.tracking-action-wrapper { display:inline-block; }

@media screen {
	input.tracking-mark:checked + label.tracking-mark { background:#F4F4F4; background:linear-gradient(345deg, #FFF 0%, #FFF8F0 40%, #DDD 100%); border-color:#CCC; }
	input.tracking-mark:not(:checked) + label.tracking-mark { background:#333; background:linear-gradient(345deg, #000 0%, #132 60%, #CCC 100%); }
}

table.abilities { padding:0; margin:0; border-spacing:0; border-collapse:collapse; }
tr.abilities > th { font-size:60%; text-align:right; }
table.abilities tr { border:solid; border-width:0 0 0.25px 0; }
table.abilities tr:first-child, table.abilities tr:last-child { border:none; border-width:0; }
tr.abilities > td { width:3em; text-align:right; }
tr.abilities > td.name.spellcasting { font-style:oblique; }
tr.abilities > td.name.proficient { font-weight:bold; }
tr.abilities > td.number { font-size:125%; }
@media screen {
	tr.abilities > td.score.increase::before { content:"✚ "; }
	tr.abilities > td.score.pending::before { content:"✚ "; color:#48C; }
}
td.score.increase, td.score.pending { cursor:pointer; }

table.attacks { padding:0; margin:0; border-spacing:0; border-collapse:collapse; }
table.attacks tr.attacks:not(.equipment) { opacity:0.5; }
td.name, td.range { white-space:nowrap; }
tr.attacks > th { font-size:60%; text-align:left; }
tr.attacks > td { padding-right:1em; }
tr.attacks.melee > td.range { visibility:hidden; }
tr.attacks.heavy > td.name { font-weight:bold; }
tr.attacks.light > td.name { font-style:oblique; }
tr.attacks.twohanded > td.name::after { content:" ²"; }
tr.attacks.disadvantage > td.name { color:red; }
tr.attacks.disadvantage > td.hit { color:red; }
tr.attacks > td.type { font-size:80%; }
td.attacks.hit, td.attacks.damage, td.attacks.rate { text-align:right; }
tr.attacks.reckless > td.hit { color:#F60; }
tr.attacks.reckless > td.name, tr.attacks.reckless > td.damage { color:#093; }

input#toggle-all-attacks:not(:checked) + label + p#attacks tr.attacks:not(.equipment) { display:none; }
input#toggle-all-attacks:not(:checked) + label + p#attacks .toggled { display:none; }
input#toggle-all-attacks + label { position:relative; left:1em; top:0.2em; }

p.toggle::after, label.toggle::after { color:#CCC; }
p.toggle.incomplete::after { color:#F99; }

input.toggle { display:none; }
input.toggle:not(:checked) + label + .toggled { display:none; }
@media screen {
	input.toggle:checked + label.toggle:after { content:" ▲"; }
	input.toggle:not(:checked) + label.toggle:after { content:" ▼"; }
	input.toggle:checked + label > p.toggle:after { content:" ▲"; }
	input.toggle:not(:checked) + label > p.toggle:after { content:" ▼"; }
}

table.features { padding:0; margin:0; border-spacing:0; }
tr.features > td { padding-right:0.5em; vertical-align:top; }
tr.features.spell > td.name { color:#447; }
tr.features.action > td.name { color:#000; }
tr.features.reaction > td.name { font-style:oblique; }
tr.features.bonusaction > td.name { font-weight:bold; }
tr.features.initiative > td.name::after { content:" ⚔"; }
td.level { text-align:right; }
tr.features > td.summary { font-size:60%; vertical-align:middle; }
td.feature br { content:""; display:block; margin-top:0.5em; }
td.feature > dl > dt { font-weight:bold; margin-top:0.5em; }

br.tall + * { margin-top:1.5em; }
.tiny { font-size:60%; }
.small { font-size:80%; }
.hidden { display:none; }
.placeholder { color:#CCC; }
.toggle { cursor:pointer; }
.roll { cursor:move; }
.roll.reorder { font-weight:bolder; }
.roll.reorder::before { content:"↑↓" }
.bullet { color:#66C }
.characteristic { display:inline-block; cursor:pointer; margin-top:0.5em; }
.characteristic:first-child { margin-top:0; }
.caption { color:#888; font-size:60%; }
.caption + p, .caption + input + label + p, .caption + input + label > p { margin-top:0.25em; }
.caption { position:relative; left:-0.5em; }

td.summary > span.summary { margin-left:1.25em; }
td.feature.level { width:2em; }
td.feature.description { font-size:75%; background:#FCFCFC; padding:1em; }
table#features-table { width:100%; }

.advances { display:inline-block; text-align:center; cursor:pointer; }
.advances.tall { line-height:2.0; min-width:8em; }
.advances.narrow { line-height:1.5; min-width:4em; }
.listable { display:inline-block; min-width:6em; text-align:center; line-height:1.5; }
.listable.wide { min-width:12em; }
span.advances { position:relative; padding:0 1em; }

@media screen {
	.cycle-option::before { content:"↻ "; opacity:0.25; }
	p#characteristics > span.characteristic::before { content:"↻ "; opacity:0.25; }
	span.advances::before { content:"<︎︎"; opacity:0.25; position:absolute; left:0; top:0; }
	span.advances::after { content:">"; opacity:0.25; position:absolute; right:0; top:0; }
}

.toggle, .roll, .advances, .action, .option, .characteristic {
	-webkit-tap-highlight-color:transparent;
}

.nose, .toggle, .roll, .advances, .action, .option, .characteristic {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}

@media (max-width:480px) {
	p#attacks { font-size:60%; }
	p#feature, label.action { font-size:80%; }
	p.choices { font-size:70%; }
	td.name, td.notrange { white-space:normal; }
	.attacks.type, .attacks.summary { display:none; }
	div#tracking-slots { font-size:80%; }
}
